.theme-toggle {
    background: none;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-icon {
    width: 1.5rem;
    height: 1.5rem;
}