.accordions-page {
    padding-bottom: 3rem;
    max-width: 55rem;
    margin: 0 auto;
}

.page-title {
    color: var(--light-secondary);
    margin-bottom: 1rem;
    text-align: center;
}

.page-description {
    margin-bottom: 1rem;
}

.share-tip-link {
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--light-text);
    padding-left: 0.5rem;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}

.share-tip-link:hover {
    font-weight: bold;
}

.tip-author {
    color: var(--light-primary);
    font-style: italic;
    margin-left: 0.5rem;
}

.accordions-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion {
    border: 0.5px solid var(--light-border);
    border-radius: 4px;
    overflow: hidden;
}

.accordion-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--light-text);
    background-color: var(--light-surface);
}

.header-titles {
    text-align: left;
}

.header-titles h2 {
    margin: 0;
    color: var(--light-secondary);
}

.header-titles h3 {
    margin: 0.25rem 0 0;
    font-weight: normal;
    color: var(--light-text);
}

.accordion-icon {
    font-size: 1.5rem;
    color: var(--light-secondary);
}

.accordion-content {
    padding: 0 1rem 1rem;
}

.description {
    margin: 1rem;
    line-height: 1.5;
}

.tips-list {
    list-style-type: none;
    padding: 0;
}

.tips-list li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.tips-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--light-primary);
}

body[data-theme='dark'] .share-tip-link {
    color: var(--dark-primary);
}

body[data-theme='dark'] .share-tip-link:hover {
    font-weight: bold;
}

body[data-theme='dark'] .tip-author {
    color: var(--dark-primary);
}

body[data-theme='dark'] .page-title {
    color: var(--dark-primary);
}

body[data-theme='dark'] .accordion {
    border-color: var(--dark-border);
}

body[data-theme='dark'] .accordion-header {
    color: var(--dark-text);
    background-color: var(--dark-secondary);
}

body[data-theme='dark'] .accordion-icon {
    color: var(--dark-primary);
}

body[data-theme='dark'] .tips-list li::before {
    color: var(--dark-primary);
}

body[data-theme='dark'] .page-description {
    color: var(--dark-text);
}

body[data-theme='dark'] .header-titles h2 {
    color: var(--dark-primary);
}

body[data-theme='dark'] .header-titles h3 {
    color: var(--dark-text);
}

body[data-theme='dark'] .header-titles h2::after {
    color: var(--dark-border);
}

@media (min-width: 50rem) {
    .header-titles {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .header-titles h2 {
        min-width: 5rem;
    }
    .header-titles h3 {
        margin: 0;
        flex: 1;
    }
    .header-titles h2::after {
        content: "|";
        margin-left: 1rem;
        color: var(--light-border);
    }
}